{% assign sorted_projects = site.projects | sort:"order" | reverse %}

<!--{% assign projects_count = 0 %}-->

{% for project in sorted_projects %}
  {% assign project_tags_list = "#" %}
  {% for tag in project.tags %}
    {% assign project_tags_list = "#" | append:tag | downcase | replace:" ","_" | append:project_tags_list %}
  {% endfor %}

  {% if project_tags_list contains "#business_featured#" %}
    <!--{% assign projects_count = projects_count | plus:1 %}--><!--Was For Placing Text Cycling Right/Left-->

    <section class="home-business-projects-section clearfix" id="{% if forloop.first %}home_business_projects_section{% endif %}" data-scene><!--data-scene="rotateZ"-->
      <div class="container">

        <div class="row">
          <div class="col-10 offset-1 col-md-8"><!--offset-md-2-->
            {% include home/home_project_article.html %}
          </div>
        </div>

      </div>
    </section>
    
    <!--{% if projects_count == 2 or forloop.last %}
      {% assign projects_count = 0 %}
    {% endif %}-->
  {% endif %}
{% endfor %}