//----------------------------------Utility Classes Styles----------------------------------//

// Display
.display-block {
  display:block;
}
.display-inline-block {
  display:inline-block;
}
.display-none {
  display:none;
}

// Position
.position-static {
  position:static;
}
.position-relative {
  position:relative;
}
.position-absolute {
  position:absolute;
}
.position-fixed {
  position:fixed;
}

// Font Weight
.text-lighter {
  font-weight:lighter;
}
.text-100 {
  font-weight:100;
}
.text-200 {
  font-weight:200;
}
.text-300 {
  font-weight:300;
}
.text-400 {
  font-weight:400;
}
.text-500 {
  font-weight:500;
}
.text-600 {
  font-weight:600;
}
.text-700 {
  font-weight:700;
}
.text-bold {
  font-weight:bold;
}

// Text Transform
.text-transform-none {
  text-transform:none;
}
.text-transform-uppercase {
  text-transform:uppercase;
}
.text-transform-lowercase {
  text-transform:lowercase;
}
.text-transform-capitalize {
  text-transform:capitalize;
}

// Text Decoration
.text-decoration-underline {
  text-decoration:underline;
}

// Text Align
.text-align-center {
  text-align:center;
}
.text-align-right {
  text-align:right;
}
.text-align-left {
  text-align:left;
}

// Flexbox (Better Support) (STILL MISSING SUPPORT, CLASSES, & RE-CHECK)
.display-flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}
.flex-direction-row {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
}
.flex-direction-row-reverse {//Missing Support
  flex-direction:row-reverse;
}
.flex-direction-column {//Missing Support
  flex-direction:column;
}
.flex-direction-column-reverse {//Missing Support
  flex-direction:column-reverse;
}
.justify-content-center {
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
}
.align-items-center {
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
}
.flex-1 {//Missing Support
  flex:1;
}

// Margin & Padding (This May Be Created With CSS Functions)
.m-4more {
  margin:2rem!important;
}
.mt-4more {
  margin-top:2rem!important;
}
.mr-4more {
  margin-right:2rem!important;
}
.mb-4more {
  margin-bottom:2rem!important;
}
.ml-4more {
  margin-left:2rem!important;
}
.m-5less {
  margin:2.5rem!important;
}
.mt-5less {
  margin-top:2.5rem!important;
}
.mr-5less {
  margin-right:2.5rem!important;
}
.mb-5less {
  margin-bottom:2.5rem!important;
}
.ml-5less {
  margin-left:2.5rem!important;
}
.p-4more {
  padding:2rem!important;
}
.pt-4more {
  padding-top:2rem!important;
}
.pr-4more {
  padding-right:2rem!important;
}
.pb-4more {
  padding-bottom:2rem!important;
}
.pl-4more {
  padding-left:2rem!important;
}
.p-5less {
  padding:2.5rem!important;
}
.pt-5less {
  padding-top:2.5rem!important;
}
.pr-5less {
  padding-right:2.5rem!important;
}
.pb-5less {
  padding-bottom:2.5rem!important;
}
.pl-5less {
  padding-left:2.5rem!important;
}
//@include media-breakpoint-up(sm) { ... }
@media only screen and (min-width:576px) {//Up
  .m-sm-4more {
    margin:2rem!important;
  }
  .mt-sm-4more {
    margin-top:2rem!important;
  }
  .mr-sm-4more {
    margin-right:2rem!important;
  }
  .mb-sm-4more {
    margin-bottom:2rem!important;
  }
  .ml-sm-4more {
    margin-left:2rem!important;
  }
  .m-sm-5less {
    margin:2.5rem!important;
  }
  .mt-sm-5less {
    margin-top:2.5rem!important;
  }
  .mr-sm-5less {
    margin-right:2.5rem!important;
  }
  .mb-sm-5less {
    margin-bottom:2.5rem!important;
  }
  .ml-sm-5less {
    margin-left:2.5rem!important;
  }
  .p-sm-4more {
    padding:2rem!important;
  }
  .pt-sm-4more {
    padding-top:2rem!important;
  }
  .pr-sm-4more {
    padding-right:2rem!important;
  }
  .pb-sm-4more {
    padding-bottom:2rem!important;
  }
  .pl-sm-4more {
    padding-left:2rem!important;
  }
  .p-sm-5less {
    padding:2.5rem!important;
  }
  .pt-sm-5less {
    padding-top:2.5rem!important;
  }
  .pr-sm-5less {
    padding-right:2.5rem!important;
  }
  .pb-sm-5less {
    padding-bottom:2.5rem!important;
  }
  .pl-sm-5less {
    padding-left:2.5rem!important;
  }
}
//@include media-breakpoint-up(md) { ... }
@media only screen and (min-width:768px) {//Up
  .m-md-4more {
    margin:2rem!important;
  }
  .mt-md-4more {
    margin-top:2rem!important;
  }
  .mr-md-4more {
    margin-right:2rem!important;
  }
  .mb-md-4more {
    margin-bottom:2rem!important;
  }
  .ml-md-4more {
    margin-left:2rem!important;
  }
  .m-md-5less {
    margin:2.5rem!important;
  }
  .mt-md-5less {
    margin-top:2.5rem!important;
  }
  .mr-md-5less {
    margin-right:2.5rem!important;
  }
  .mb-md-5less {
    margin-bottom:2.5rem!important;
  }
  .ml-md-5less {
    margin-left:2.5rem!important;
  }
  .p-md-4more {
    padding:2rem!important;
  }
  .pt-md-4more {
    padding-top:2rem!important;
  }
  .pr-md-4more {
    padding-right:2rem!important;
  }
  .pb-md-4more {
    padding-bottom:2rem!important;
  }
  .pl-md-4more {
    padding-left:2rem!important;
  }
  .p-md-5less {
    padding:2.5rem!important;
  }
  .pt-md-5less {
    padding-top:2.5rem!important;
  }
  .pr-md-5less {
    padding-right:2.5rem!important;
  }
  .pb-md-5less {
    padding-bottom:2.5rem!important;
  }
  .pl-md-5less {
    padding-left:2.5rem!important;
  }
}
//@include media-breakpoint-up(lg) { ... }
@media only screen and (min-width:992px) {//Up
  .m-lg-4more {
    margin:2rem!important;
  }
  .mt-lg-4more {
    margin-top:2rem!important;
  }
  .mr-lg-4more {
    margin-right:2rem!important;
  }
  .mb-lg-4more {
    margin-bottom:2rem!important;
  }
  .ml-lg-4more {
    margin-left:2rem!important;
  }
  .m-lg-5less {
    margin:2.5rem!important;
  }
  .mt-lg-5less {
    margin-top:2.5rem!important;
  }
  .mr-lg-5less {
    margin-right:2.5rem!important;
  }
  .mb-lg-5less {
    margin-bottom:2.5rem!important;
  }
  .ml-lg-5less {
    margin-left:2.5rem!important;
  }
  .p-lg-4more {
    padding:2rem!important;
  }
  .pt-lg-4more {
    padding-top:2rem!important;
  }
  .pr-lg-4more {
    padding-right:2rem!important;
  }
  .pb-lg-4more {
    padding-bottom:2rem!important;
  }
  .pl-lg-4more {
    padding-left:2rem!important;
  }
  .p-lg-5less {
    padding:2.5rem!important;
  }
  .pt-lg-5less {
    padding-top:2.5rem!important;
  }
  .pr-lg-5less {
    padding-right:2.5rem!important;
  }
  .pb-lg-5less {
    padding-bottom:2.5rem!important;
  }
  .pl-lg-5less {
    padding-left:2.5rem!important;
  }
}
//@include media-breakpoint-up(xl) { ... }
@media only screen and (min-width:1200px) {//Up
  .m-xl-4more {
    margin:2rem!important;
  }
  .mt-xl-4more {
    margin-top:2rem!important;
  }
  .mr-xl-4more {
    margin-right:2rem!important;
  }
  .mb-xl-4more {
    margin-bottom:2rem!important;
  }
  .ml-xl-4more {
    margin-left:2rem!important;
  }
  .m-xl-5less {
    margin:2.5rem!important;
  }
  .mt-xl-5less {
    margin-top:2.5rem!important;
  }
  .mr-xl-5less {
    margin-right:2.5rem!important;
  }
  .mb-xl-5less {
    margin-bottom:2.5rem!important;
  }
  .ml-xl-5less {
    margin-left:2.5rem!important;
  }
  .p-xl-4more {
    padding:2rem!important;
  }
  .pt-xl-4more {
    padding-top:2rem!important;
  }
  .pr-xl-4more {
    padding-right:2rem!important;
  }
  .pb-xl-4more {
    padding-bottom:2rem!important;
  }
  .pl-xl-4more {
    padding-left:2rem!important;
  }
  .p-xl-5less {
    padding:2.5rem!important;
  }
  .pt-xl-5less {
    padding-top:2.5rem!important;
  }
  .pr-xl-5less {
    padding-right:2.5rem!important;
  }
  .pb-xl-5less {
    padding-bottom:2.5rem!important;
  }
  .pl-xl-5less {
    padding-left:2.5rem!important;
  }
}
//@include media-breakpoint-up(xxl) { ... }
@media only screen and (min-width:1400px) {//Up
  .m-xxl-4more {
    margin:2rem!important;
  }
  .mt-xxl-4more {
    margin-top:2rem!important;
  }
  .mr-xxl-4more {
    margin-right:2rem!important;
  }
  .mb-xxl-4more {
    margin-bottom:2rem!important;
  }
  .ml-xxl-4more {
    margin-left:2rem!important;
  }
  .m-xxl-5less {
    margin:2.5rem!important;
  }
  .mt-xxl-5less {
    margin-top:2.5rem!important;
  }
  .mr-xxl-5less {
    margin-right:2.5rem!important;
  }
  .mb-xxl-5less {
    margin-bottom:2.5rem!important;
  }
  .ml-xxl-5less {
    margin-left:2.5rem!important;
  }
  .p-xxl-4more {
    padding:2rem!important;
  }
  .pt-xxl-4more {
    padding-top:2rem!important;
  }
  .pr-xxl-4more {
    padding-right:2rem!important;
  }
  .pb-xxl-4more {
    padding-bottom:2rem!important;
  }
  .pl-xxl-4more {
    padding-left:2rem!important;
  }
  .p-xxl-5less {
    padding:2.5rem!important;
  }
  .pt-xxl-5less {
    padding-top:2.5rem!important;
  }
  .pr-xxl-5less {
    padding-right:2.5rem!important;
  }
  .pb-xxl-5less {
    padding-bottom:2.5rem!important;
  }
  .pl-xxl-5less {
    padding-left:2.5rem!important;
  }
}

// Background Images
.background-image-default {
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  @include background-size(cover);
}