@media only screen and (min-width:768px) {//Up//@include media-breakpoint-up(sm) {//Up

  //----------------------------------General Styles----------------------------------//

  // General
  body {
    font-size:15px;
    line-height:1.9;//1.8
  }

  // Main, Header, Section, Footer
  main, header, section, footer {
    text-align:start;//left
  }

  // Headline, Title, Subtitle (Font-Sizes)
  .headline-hero {
    font-size:2.4rem;////New
    //line-height:1.15;
  }



  .text-header-ABOUT {
    font-size:4.3rem;
    line-height:1.5;
  }
  .text-gigantic {
    font-size:4.3rem;
    line-height:0.88;
  }
  .text-intro-ABOUT {
    font-size:2.6rem;
    line-height:1.23;
  }
  .headline-huge {
    font-size:2.6rem;
    line-height:1.02;
  }
  .text-medium {
    font-size:1.7rem;//1.2rem
  }



  @media only screen and (max-width:992px) {//Down
    @media (orientation:landscape) {//Trying To Target "Mobile" Between "768px" & "992px" Only, When On "landscape"
      .headline-hero {//Putting A Smaller "font-size", Same Than Below "768px" In "portrait"
        font-size:2.1rem;////New
        line-height:1.15;
      }
    }
  }



  @media only screen and (min-width:992px) {//Up
    .headline-hero {
      font-size:2.7rem;//2.9rem////New
    }



    .text-header-ABOUT {
      font-size:4.5rem;//NEW//5.8rem
    }
    .text-gigantic {
      font-size:4.5rem;//NEW//5.8rem
    }
    .text-intro-ABOUT {
      font-size:3.35rem;
    }
    .headline-huge {
      font-size:3.35rem;
    }
    .text-medium {
      font-size:1.7rem;
    }



  }
  @media only screen and (min-width:1200px) {//Up
    .headline-hero {
      font-size:3rem;////NEW
    }



    .text-header-ABOUT {
      font-size:6.3rem;
    }
    .text-gigantic {
      font-size:4.5rem;//NEW//5.3rem
      line-height:0.93;
    }
    .text-intro-ABOUT, .headline-huge {
      font-size:3.85rem;
    }
    .text-medium {
      font-size:1.9rem;//2.2rem//NEW
    }



  }
  @media only screen and (min-width:1400px) {//Up
  }

  // Buttons
  $btn-normal-padding:0.5rem 1.3rem;
  $btn-lg-padding:1rem 2.6rem;
  .btn {
    padding:$btn-normal-padding;
    &::before {
      padding:$btn-normal-padding;//Same As Button
    }
    &.btn-60 {
      width:60%;
    }
    &.btn-lg {
      padding:$btn-lg-padding;
    }
  }

  // Cube 3D Scene Container
  .cube-3d-scene-container {
    $size:200px;//300px
    $half-size:$size / 2;
    width:$size;
    height:$size;
    margin-top:50px;//100px
    .cube {
      .face {
        @include box-shadow(inset 0 0 $size * 0.7);
        &.front {
          @include transform(rotateX(0deg) translateZ($half-size));
        }
        &.top {
          @include transform(rotateX(90deg) translateZ($half-size));
        }
        &.right {
          @include transform(rotateY(90deg) translateZ($half-size));
        }
        &.bottom {
          @include transform(rotateX(-90deg) translateZ($half-size));
        }
        &.left {
          @include transform(rotateY(-90deg) translateZ($half-size));
        }
        &.back {
          @include transform(rotateX(-180deg) translateZ($half-size));
        }
      }
    }
  }
  @media only screen and (min-width:992px) {//Up
    .cube-3d-scene-container {
      $size:250px;//230px//300px
      $half-size:$size / 2;
      width:$size;
      height:$size;
      margin-top:50px;//100px
      .cube {
        .face {
          @include box-shadow(inset 0 0 $size * 0.7);
          &.front {
            @include transform(rotateX(0deg) translateZ($half-size));
          }
          &.top {
            @include transform(rotateX(90deg) translateZ($half-size));
          }
          &.right {
            @include transform(rotateY(90deg) translateZ($half-size));
          }
          &.bottom {
            @include transform(rotateX(-90deg) translateZ($half-size));
          }
          &.left {
            @include transform(rotateY(-90deg) translateZ($half-size));
          }
          &.back {
            @include transform(rotateX(-180deg) translateZ($half-size));
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up
    .cube-3d-scene-container {
      $size:270px;//250px//300px
      $half-size:$size / 2;
      width:$size;
      height:$size;
      margin-top:50px;//100px
      .cube {
        .face {
          @include box-shadow(inset 0 0 $size * 0.7);
          &.front {
            @include transform(rotateX(0deg) translateZ($half-size));
          }
          &.top {
            @include transform(rotateX(90deg) translateZ($half-size));
          }
          &.right {
            @include transform(rotateY(90deg) translateZ($half-size));
          }
          &.bottom {
            @include transform(rotateX(-90deg) translateZ($half-size));
          }
          &.left {
            @include transform(rotateY(-90deg) translateZ($half-size));
          }
          &.back {
            @include transform(rotateX(-180deg) translateZ($half-size));
          }
        }
      }
    }
  }
  @media only screen and (min-width:1400px) {//Up
    .cube-3d-scene-container {
      $size:300px;
      $half-size:$size / 2;
      width:$size;
      height:$size;
      margin-top:50px;//100px
      .cube {
        .face {
          @include box-shadow(inset 0 0 $size * 0.7);
          &.front {
            @include transform(rotateX(0deg) translateZ($half-size));
          }
          &.top {
            @include transform(rotateX(90deg) translateZ($half-size));
          }
          &.right {
            @include transform(rotateY(90deg) translateZ($half-size));
          }
          &.bottom {
            @include transform(rotateX(-90deg) translateZ($half-size));
          }
          &.left {
            @include transform(rotateY(-90deg) translateZ($half-size));
          }
          &.back {
            @include transform(rotateX(-180deg) translateZ($half-size));
          }
        }
      }
    }
  }

  //----------------------------------Layout Styles----------------------------------//

  // Container
  header, section, footer, header > .page-image-wrap {
    > .container {
    }
  }
  @media only screen and (min-width:992px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
        max-width:988px;//I will keep it at "max-width:988px" for this Portfolio as it was in Bootstrap 4 after screen-size greater than "992px (lg)". Bootstrap 5 goes too wide, plus my new Mac isn't '1366px' width any more, but passes that 1400px breakpoint as well being '1440px' width. So ".container" gets too wide
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
      }
    }
  }
  @media only screen and (min-width:1400px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
      }
    }
  }

  //----------------------------------Cards Styles----------------------------------//

  // Project Card
  article.project-card {
    margin-bottom:91px;//calc(130px + 1rem)//((91px + 39px) + 1rem (from "figure's" margin-bottom))//91px////New
    a {
      //@include transition(filter cubic-bezier(0.455,0.03,0.515,0.955) 1s, transform cubic-bezier(0.455,0.03,0.515,0.955) 1s);
      figure {
        figcaption {//ALL
          .project-type-and-title {
            .project-type {
              //font-size:13px;//"15px" Is Body
            }
          }
        }
        &.FIGURE-ONE {
          div.project-thumbnail {
            height:340px;
          }
          figcaption {
            //margin-top:18px;
            .project-type-and-title {
              width:50%;
            }
            .project-description {
              width:25%;
            }
          }
        }
        &.FIGURE-TWO, &.FIGURE-THREE {
          div.project-thumbnail {
            height:320px;
          }
          figcaption {
            .project-type-and-title {
              //width:100%;
            }
            .project-description {
              width:80%;
            }
          }
        }
        &.FIGURE-TWO {
          figcaption {
            text-align:end;
          }
        }
      }
    }
    &:nth-child(3n + 1) {//This Will Target Every "3th" Starting From "1" (E.g. '1', '4', '7') //section:nth-of-type(1) {
      a {
        figure {
          &.FIGURE-ONE {
            display:block;//Desktop
          }
          &.FIGURE-TWO, &.FIGURE-THREE {
            display:none;//Desktop
          }
        }
      }
    }
    &:nth-child(3n + 2) {//This Will Target Every "3th" Starting From "2" (E.g. '2', '5', '8') //section:nth-of-type(2) {
      a {
        figure {
          &.FIGURE-ONE, &.FIGURE-THREE {
            display:none;//Desktop
          }
          &.FIGURE-TWO {
            display:block;//Desktop
          }
        }
      }
    }
    &:nth-child(3n + 3) {//This Will Target Every "3th" Starting From "3" (E.g. '3', '6', '9') //section:nth-of-type(3) {
      a {
        figure {
          &.FIGURE-ONE, &.FIGURE-TWO {
            display:none;//Desktop
          }
          &.FIGURE-THREE {
            display:block;//Desktop
          }
        }
      }
    }
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {//Up
    article.project-card {
      margin-bottom:111px;//calc(170px + 1rem)//((111px + 59px) + 1rem (from "figure's" margin-bottom))//111px////New
      a {
        figure {
          figcaption {//ALL
            .project-type-and-title {
              .project-type {
                font-size:15px;//Same As Body
              }
            }
          }
          &.FIGURE-ONE {
            div.project-thumbnail {
              height:470px;
            }
            figcaption {
              .project-type-and-title {
                width:30%;
              }
              .project-description {
                width:25%;//18%//20%
              }
            }
          }
          &.FIGURE-TWO, &.FIGURE-THREE {
            div.project-thumbnail {
              height:440px;
            }
            figcaption {
              .project-type-and-title {
                //width:100%;//90%//80%
              }
              .project-description {
                width:58%;//60%
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(xl) {//Up
  }
  @media only screen and (min-width:1400px) {//Up //@include media-breakpoint-up(xxl) {//Up
  }

  //----------------------------------Section Styles----------------------------------//

  // Nav
  nav.top-nav {
    > .container {
      > ul {
        > li {
          > a, > button {
            font-size:13px;//"15px" Is Body
          }
          > a {
            padding:21px 0;//21px 0 23px//Should Use "19px 0 21px" If Using The "Option 2" With "Flexbox" To Have Exact Same Result. See Comments About "Option 2" In "Nav.js"
            &::before {
              content:"";
              position:absolute;
              width:0;
              height:1px;
              right:0;
              bottom:0;//-1px
              left:auto;
              background-color:theme-color("turquoise");
              pointer-events:none;
              @include transition(width 0.5s linear);//ease-in-out
            }
            &:hover, &:active, &:focus {//&.active-link
              //@include filter(opacity(0.8));//Already In Mobile
              &::before {
                width:100%;
                //right:auto;//0
                left:0;
              }
            }
          }
        }
      }
    }
  }

  // HomePage Header
  header.homepage-header {
    padding:90px 0;//New
  }
  @media only screen and (max-width:992px) {//Down
    @media (orientation:landscape) {//Trying To Target "Mobile" Between "768px" & "992px" Only, When On "landscape"
      header.homepage-header {//Putting A Smaller "padding-top" & "padding-bottom", Same Than Below "768px" In "landscape"
        padding:50px 20px;//New
        > .container {
          > .row {
            //margin-top:0!important;//Replacing B5 Classes
            margin-top:2.8rem!important;//3rem!important//Reducing A Bit From "mt-md-5"
            padding-top:0!important;//Replacing B5 Classes
          }
        }
      }
    }
  }

  // HomePage Disclaimer Section, HomePage Projects Headline Section, HomePage Skills Headline Section
  section.homepage-disclaimer-section, section.homepage-projects-headline-section, section.homepage-skills-headline-section {
    padding:60px 0 37px;
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {//Up
    section.homepage-disclaimer-section, section.homepage-projects-headline-section, section.homepage-skills-headline-section {
      padding:100px 0 37px;//100px 0 67px
    }
  }

  // HomePage Projects Cards Section, HomePage Skills Set Section
  section.homepage-projects-cards-section, section.homepage-skills-set-section {
    padding:39px 0 91px;
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {//Up
    section.homepage-projects-cards-section, section.homepage-skills-set-section {
      padding:59px 0 111px;//59px 0 91px//59px 0 71px
    }
  }

  // HomePage Skills Set Section
  section.homepage-skills-set-section {
    padding-bottom:11px;
    .skills-set-table {
      .skill-row {
        padding:45px 0 25px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {//Up
    section.homepage-skills-set-section {
      padding-bottom:31px;//51px
      .skills-set-table {
        .skill-row {
          padding:55px 0 35px;
        }
      }
    }
  }




  // AboutPage Header
  header.aboutpage-header {
    padding:100px 0;
    .about-header-middle {
      h1, h2, h3, h4, h5, h6 {
        white-space:nowrap;
      }
      > div {
        position:absolute;
        //width:210px;
        //margin:auto;
        top:-53px;//-80px
        right:0;
        //bottom:0;
        left:0;
        span.about-header-short-story {
          bottom:-100px;
        }
      }
    }
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up
    header.aboutpage-header {
      .about-header-middle {
        > div {
          top:-41px;
          span.about-header-short-story {
            bottom:-95px;//-115px
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up
    header.aboutpage-header {
      .about-header-middle {
        > div {
          top:-39px;//-70px
        }
      }
    }
  }

  // About Page Myself Section
  section.aboutpage-myself-section {
    padding:83px 0 240px;
    .about-postdata {
      > div {
        width:46%;
      }
    }
    img {
      position:absolute;
    }
    img.image-candelaria {
      width:296px;
      top:163px;
      left:0;
    }
    img.image-palm-beach {
      width:118px;
      top:260px;
      right:-64px;
    }
    img.image-england-port {
      width:263px;
      top:700px;//620px
      left:0;
    }
    img.image-bogota-colombia {
      width:290px;//300px
      bottom:370px;
      left:0;//-157px//0 Cooler But
    }
    img.image-england-park {
      width:298px;
      top:42px;
      right:1px;
    }
  }
  @media only screen and (min-width:880px) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 300px;
      img.image-candelaria {
        width:375px;
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:170px;
        top:260px;
        right:-35px;//-170px
      }
      img.image-england-port {
        width:315px;//392px
        top:680px;//600px
        left:0;
      }
      img.image-bogota-colombia {
        width:285px;
        bottom:395px;
        left:0;//-149px//0 Cooler But
      }
      img.image-england-park {
        width:358px;//411px
        top:50px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 400px;
      img.image-candelaria {
        width:378px;//438px//475px
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:120px;//144px//170px
        top:345.5px;
        right:-62px;//-24px//-91px
      }
      img.image-england-port {
        width:336px;//358px//392px
        top:708.5px;//628.5px//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:293px;//338px//255px
        bottom:87px;//117px
        left:0;//-154px//-176px//-135px//0 Cooler But
      }
      img.image-england-park {
        width:400px;
        top:90px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:1100px) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 400px;
      img.image-candelaria {
        width:438px;//475px
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:144px;//170px
        top:345.5px;
        right:-24px;//-91px
      }
      img.image-england-port {
        width:358px;//392px
        top:708.5px;//628.5px//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:338px;//255px
        bottom:87px;//117px
        left:0;//-176px//-135px//0 Cooler But
      }
      img.image-england-park {
        width:400px;
        top:90px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 450px;
      img.image-candelaria {
        width:475px;
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:170px;
        top:345.5px;
        right:-24px;
      }
      img.image-england-port {
        width:392px;
        top:688.5px;//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:305px;
        bottom:127px;
        left:0;//-159px//0 Cooler But
      }
      img.image-england-park {
        width:411px;
        top:110px;
        right:1px;
      }
    }
  }

  // About Page Lets Work Section
  section.aboutpage-lets-work-section {
    padding:70px 0 300px;
    img {
      position:absolute;
    }
    img.image-england-castle {
      width:381px;
      top:140px;
      left:-238px;
    }
    img.image-villa-de-leyva {
      width:203px;
      bottom:40px;
      left:0;
    }
    img.image-turkey-cats {
      width:173px;
      right:0;
      bottom:10px;
    }
  }
  @media only screen and (min-width:880px) {//Up
    section.aboutpage-lets-work-section {
      padding:70px 0 350px;
      img.image-england-castle {
        width:433px;//465px
        top:150px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:315px;//391px
        bottom:40px;
        left:0;
      }
      img.image-turkey-cats {
        width:194px;//227px
        right:0;
        bottom:10px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 400px;
      img.image-england-castle {
        width:376px;//436px
        top:170px;//140px
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:297px;//322px
        bottom:50px;
        left:0;
      }
      img.image-turkey-cats {
        width:176px;//227px
        right:0;
        bottom:11px;
      }
    }
  }
  @media only screen and (min-width:1100px) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 400px;
      img.image-england-castle {
        width:436px;
        top:140px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:322px;
        bottom:30px;
        left:0;
      }
      img.image-turkey-cats {
        width:227px;
        right:0;
        bottom:11px;
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 465px;
      img.image-england-castle {
        width:465px;
        top:141px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:391px;
        bottom:100px;
        left:0;
      }
      img.image-turkey-cats {
        width:227px;
        right:0;
        bottom:11px;
      }
    }
  }




  // Project Page Header
  header.project-page-header {
    min-height:100vh;
    padding:167px 0 0;
    span.page-order {
      top:-70px;
      right:auto;
    }
    .page-image-wrap {
      position:absolute;
      height:100vh;
      top:0;
      right:0;
      bottom:auto;
      left:0;
      pointer-events:none;
      .container {
        .row {
          > div {
            height:100vh;
            .page-image {
              //width:100%;
              height:320px;
            }
          }
        }
      }
    }
    .page-client, .page-roles, .page-year, .page-duration {
      font-size:13.5px;//Same As Body In Mobile//13px
      span.page-subtitles {//New ".page-subtitles" Class
        font-size:12px;//"13.5px" Is Body//11px
      }
    }
    .page-content {
      font-size:18px;//20px
    }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(lg) {
    header.project-page-header {
      padding:203px 0 0;
      .page-image-wrap {
        .container {
          .row {
            > div {
              .page-image {
                height:350px;
              }
            }
          }
        }
      }
    }
  }

  // Project Page Section
  section.project-page-section {
    padding:65px 0 60px;
    .page-content-mid {
      font-size:17px;//16px//18px//20px
      blockquote {
        margin-top:-30px;
        padding-right:0;
        padding-bottom:30px;
        padding-left:30px;
        font-size:15px;//Same As Body
      }
    }
    .page-content-last {
      font-size:15px;//Same As Body
    }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(lg) {
    section.project-page-section {
      padding:105px 0 100px;
    }
  }

  // Footer
  footer {
    > aside.footer-aside-info-elements {
      .footer-availability, .footer-credits {
        bottom:370.5px;//To be 370px
      }
      .footer-office, nav.footer-nav {
        bottom:220.5px;//To be 220px
      }
      .footer-social-media-business, .footer-social-media-personal {
        bottom:115.5px;//115px//To be 115px
      }
      .footer-social-media-personal {//To mix above
        //bottom:115.5px;//To be 115px and mixed above again
      }
    }
  }

}//@Media