@media only screen and (min-width:768px) {//Up

  //----------------------------------General Styles----------------------------------//

  // General
  body {
  }

  // Main, Header, Section, Footer
  main, header, section, footer {
    text-align:start;//left
  }

  // Headline, Title, Subtitle
  .headline {//Targets From 768px All The Way Up, Or Up To 850px If Styles Are Added/Overriding Down Here
    font-size:2rem;//New//2.6rem
    line-height:1.15;
  }
  .text-hero, .text-gigantic {
    font-size:4.3rem;
  }
  .text-hero {
    line-height:1.5;
  }
  .text-gigantic {
    line-height:0.88;
  }
  .text-intro, .text-huge {
    font-size:2.6rem;//2.3rem
  }
  .text-intro {
    line-height:1.23;
  }
  .text-huge {
    line-height:1.02;
  }
  .text-big {
    font-size:2rem;//1.5rem
  }
  .text-medium {
    font-size:1.7rem;//1.2rem
  }
  .text-small {
    font-size:1.2rem;
  }
  @media only screen and (min-width:850px) {//Up
    .headline {
      font-size:2.85rem;
    }
    .text-hero, .text-gigantic {
      font-size:5.3rem;
    }
    .text-intro, .text-huge {
      font-size:2.85rem;
    }
    .text-intro {
      line-height:1.19;
    }
  }
  @media only screen and (min-width:992px) {//Up
    .headline {
      font-size:3.35rem;
    }
    .text-hero, .text-gigantic {
      font-size:5.8rem;
    }
    .text-intro, .text-huge {
      font-size:3.35rem;
    }
    .text-big {
      font-size:2rem;
    }
    .text-medium {
      font-size:1.7rem;
    }
  }
  @media only screen and (min-width:1200px) {//Up
    .headline {
      font-size:3rem;//3.3rem//NEW//4rem//3.85rem
    }
    .text-hero {
      font-size:6.3rem;
    }
    .text-gigantic {
      font-size:4.5rem;//NEW//5.3rem
      line-height:0.93;
    }
    .text-intro, .text-huge {
      font-size:3.85rem;
    }
    .text-big {
      font-size:2.5rem;
    }
    .text-medium {
      font-size:1.9rem;//2.2rem//NEW
    }
    .text-small {
      font-size:1.4rem;
    }
  }

  // Buttons
  $btn-normal-padding:0.5rem 1.3rem;
  $btn-lg-padding:1rem 2.6rem;
  .btn {
    padding:$btn-normal-padding;
    &::before {
      padding:$btn-normal-padding;//Same As Button
    }
    &.btn-60 {
      width:60%;
    }
    &.btn-lg {
      padding:$btn-lg-padding;
    }
  }

  //----------------------------------Layout Styles----------------------------------//

  // Container
  header, section, footer, header > .page-image-wrap {
    > .container {
    }
  }
  @media only screen and (min-width:992px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
        max-width:988px;//I will keep it at "max-width:988px" for this Portfolio as it was in Bootstrap 4 after screen-size greater than "992px (lg)". Bootstrap 5 goes too wide, plus my new Mac isn't '1366px' width any more, but passes that 1400px breakpoint as well being '1440px' width. So ".container" gets too wide
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
      }
    }
  }
  @media only screen and (min-width:1400px) {//Up
    header, section, footer, header > .page-image-wrap {
      > .container {
      }
    }
  }

  //----------------------------------Cards Styles----------------------------------//

  // Project Card
  article.project-card {
    a {
      figure {
        .project-thumbnail {
          height:420px;//Temporary 420px//320px
        }
        figcaption {
          // .project-title {
          //   min-width:50%;//So Text Below Doesn't Fall If Title Is Short
          // }
          // .project-description {
          //   @include transition(filter cubic-bezier(0.455,0.03,0.515,0.955) 1s, transform cubic-bezier(0.455,0.03,0.515,0.955) 1s);
          // }
        }
        &.FIGURE-ONE {
          figcaption {
            margin-top:18px;//16px
            .project-title {
              width:60%;
            }
            .project-description {
              width:25%;//20%
            }
          }
        }
        &.FIGURE-TWO {
          figcaption {
            .project-description {
              width:60%;
            }
          }
        }
        &.FIGURE-THREE {
          figcaption {
            text-align:end;
          }
        }
      }
      &:hover, &:active, &:focus {
        figure {
          .project-thumbnail {
          }
          figcaption {
          }
          &.FIGURE-ONE {
          }
          &.FIGURE-TWO {
          }
          &.FIGURE-THREE {
          }
        }
      }
    }
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {//Up
    article.project-card {
      a {
        figure {
          // .project-thumbnail {
          //   height:370px;//530px
          // }
          figcaption {
          }
          &.FIGURE-ONE {
            .project-thumbnail {
              height:470px;//Temporary 470px//530px//530px Tempo Again While I Have The Other Two Figures & I'll Put 370px Then//370px//530px
            }
          }
          &.FIGURE-TWO, &.FIGURE-THREE {
            .project-thumbnail {
              height:440px;//530px
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(xl) {//Up
    article.project-card {
      a {
        figure {
          .project-thumbnail {
          }
          figcaption {
          }
          &.FIGURE-ONE {
          }
          &.FIGURE-TWO {
          }
          &.FIGURE-THREE {
          }
        }
      }
    }
  }

  //----------------------------------Section Styles----------------------------------//

  // HomePage Projects Cards Section
  section.homepage-projects-cards-section {
  }

  // HomePage Skills Set Section
  section.homepage-skills-set-section {
  }




  // HomePage Disclaimer Section, HomePage Projects Headline Section, HomePage Skills Headline Section
  section.homepage-disclaimer-section, section.homepage-projects-headline-section, section.homepage-skills-headline-section {
    padding:60px 0 37px;
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {
    section.homepage-disclaimer-section, section.homepage-projects-headline-section, section.homepage-skills-headline-section {
      padding:100px 0 37px;//100px 0 67px
    }
  }

  // HomePage Projects Cards Section, HomePage Skills Set Section
  section.homepage-projects-cards-section, section.homepage-skills-set-section {
    padding:39px 0 91px;
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {
    section.homepage-projects-cards-section, section.homepage-skills-set-section {
      padding:59px 0 111px;//59px 0 91px//59px 0 71px
    }
  }

  // HomePage Skills Set Section
  section.homepage-skills-set-section {
    padding-bottom:11px;
    .skills-set-table {
      .skill-row {
        padding:45px 0 25px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up //@include media-breakpoint-up(lg) {
    section.homepage-skills-set-section {
      padding-bottom:31px;//51px
      .skills-set-table {
        .skill-row {
          padding:55px 0 35px;
        }
      }
    }
  }




  // AboutPage Header
  header.aboutpage-header {
    padding:100px 0;
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up
    header.aboutpage-header {
      .about-header-middle {
        > div {
          top:-41px;
          span.about-header-short-story {
            bottom:-95px;//-115px
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up
    header.aboutpage-header {
      .about-header-middle {
        > div {
          top:-39px;//-70px
        }
      }
    }
  }

  // About Page Myself Section
  section.aboutpage-myself-section {
    padding:83px 0 240px;
    .about-postdata {
      > div {
        width:46%;
      }
    }
    img {
      position:absolute;
    }
    img.image-candelaria {
      width:296px;
      top:163px;
      left:0;
    }
    img.image-palm-beach {
      width:118px;
      top:260px;
      right:-64px;
    }
    img.image-england-port {
      width:263px;
      top:700px;//620px
      left:0;
    }
    img.image-bogota-colombia {
      width:290px;//300px
      bottom:370px;
      left:0;//-157px//0 Cooler But
    }
    img.image-england-park {
      width:298px;
      top:42px;
      right:1px;
    }
  }
  @media only screen and (min-width:880px) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 300px;
      img.image-candelaria {
        width:375px;
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:170px;
        top:260px;
        right:-35px;//-170px
      }
      img.image-england-port {
        width:315px;//392px
        top:680px;//600px
        left:0;
      }
      img.image-bogota-colombia {
        width:285px;
        bottom:395px;
        left:0;//-149px//0 Cooler But
      }
      img.image-england-park {
        width:358px;//411px
        top:50px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 400px;
      img.image-candelaria {
        width:378px;//438px//475px
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:120px;//144px//170px
        top:345.5px;
        right:-62px;//-24px//-91px
      }
      img.image-england-port {
        width:336px;//358px//392px
        top:708.5px;//628.5px//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:293px;//338px//255px
        bottom:87px;//117px
        left:0;//-154px//-176px//-135px//0 Cooler But
      }
      img.image-england-park {
        width:400px;
        top:90px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:1100px) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 400px;
      img.image-candelaria {
        width:438px;//475px
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:144px;//170px
        top:345.5px;
        right:-24px;//-91px
      }
      img.image-england-port {
        width:358px;//392px
        top:708.5px;//628.5px//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:338px;//255px
        bottom:87px;//117px
        left:0;//-176px//-135px//0 Cooler But
      }
      img.image-england-park {
        width:400px;
        top:90px;
        right:1px;
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up//√√√√√√√
    section.aboutpage-myself-section {
      padding:83px 0 450px;
      img.image-candelaria {
        width:475px;
        top:163px;
        left:0;
      }
      img.image-palm-beach {
        width:170px;
        top:345.5px;
        right:-24px;
      }
      img.image-england-port {
        width:392px;
        top:688.5px;//608.5px
        left:0;
      }
      img.image-bogota-colombia {
        width:305px;
        bottom:127px;
        left:0;//-159px//0 Cooler But
      }
      img.image-england-park {
        width:411px;
        top:110px;
        right:1px;
      }
    }
  }

  // About Page Lets Work Section
  section.aboutpage-lets-work-section {
    padding:70px 0 300px;
    img {
      position:absolute;
    }
    img.image-england-castle {
      width:381px;
      top:140px;
      left:-238px;
    }
    img.image-villa-de-leyva {
      width:203px;
      bottom:40px;
      left:0;
    }
    img.image-turkey-cats {
      width:173px;
      right:0;
      bottom:10px;
    }
  }
  @media only screen and (min-width:880px) {//Up
    section.aboutpage-lets-work-section {
      padding:70px 0 350px;
      img.image-england-castle {
        width:433px;//465px
        top:150px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:315px;//391px
        bottom:40px;
        left:0;
      }
      img.image-turkey-cats {
        width:194px;//227px
        right:0;
        bottom:10px;
      }
    }
  }
  @media only screen and (min-width:992px) {//Up//@include media-breakpoint-up(lg) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 400px;
      img.image-england-castle {
        width:376px;//436px
        top:170px;//140px
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:297px;//322px
        bottom:50px;
        left:0;
      }
      img.image-turkey-cats {
        width:176px;//227px
        right:0;
        bottom:11px;
      }
    }
  }
  @media only screen and (min-width:1100px) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 400px;
      img.image-england-castle {
        width:436px;
        top:140px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:322px;
        bottom:30px;
        left:0;
      }
      img.image-turkey-cats {
        width:227px;
        right:0;
        bottom:11px;
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up//@include media-breakpoint-up(xl) {//Up//√√√√√√√
    section.aboutpage-lets-work-section {
      padding:70px 0 465px;
      img.image-england-castle {
        width:465px;
        top:141px;
        left:-238px;
      }
      img.image-villa-de-leyva {
        width:391px;
        bottom:100px;
        left:0;
      }
      img.image-turkey-cats {
        width:227px;
        right:0;
        bottom:11px;
      }
    }
  }




  // Project Page Header
  header.project-page-header {
    min-height:100vh;
    padding:203px 0 0;
    span.page-order {
      right:auto;
    }
    .page-image-wrap {
      position:absolute;
      height:100vh;
      top:0;
      right:0;
      bottom:auto;
      left:0;
      pointer-events:none;
      .container {
        .row {
          > div {
            height:100vh;
            .page-image {
              //width:100%;
              height:320px;
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(lg) {
    header.project-page-header {
      .page-image-wrap {
        .container {
          .row {
            > div {
              .page-image {
                height:350px;
              }
            }
          }
        }
      }
    }
  }

  // Project Page Section
  section.project-page-section {
    padding:65px 0 60px;
    // img {
    // }
  }
  @media only screen and (min-width:1200px) {//Up //@include media-breakpoint-up(lg) {
    section.project-page-section {
      padding:105px 0 100px;
    }
  }

  // Footer
  footer {
    > aside.footer-aside-info-elements {
      .footer-availability, .footer-credits {
        bottom:370.5px;//To be 370px
      }
      .footer-office, nav.footer-nav {
        bottom:220.5px;//To be 220px
      }
      .footer-social-media-business, .footer-social-media-personal {
        bottom:115px;//To be 115px
      }
      .footer-social-media-personal {//To mix above
        bottom:115.5px;//To be 115px and mixed above again
      }
    }
  }

}//@Media