//----------------------------------General Styles----------------------------------//

// General
*, *::before, *::after {//As Per B4
  //margin:0;
  //padding:0;
  box-sizing:border-box;
}
// NextJS Original Fonts
// html, body {
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }
html, body {
  margin:0;//As Per B4
  padding:0;//As Per B4
}
html {
  //background-color:theme-color("beige");
  text-rendering:optimizeLegibility;//geometricPrecision
  font-smooth:always;
  -webkit-font-smoothing:subpixel-antialiased;//antialiased
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;//As Per B4
  -webkit-tap-highlight-color:transparent;//As Per B4
  ::-webkit-scrollbar {//As Per B4
    display:none;//As Per B4
  }
}
body {
  position:relative;//As Per B4
  min-height:100vh;
  font-family:$font-light;
  font-weight:400;//Temporary As Per B4
  font-size:15px;//17px
  background-color:theme-color("beige");
  color:theme-color("grey-dark");
  line-height:1.8;
  letter-spacing:0.5px;
  .text-italic {
    font-family:$font-light-italic!important;
  }
}

// Main, Header, Section, Footer
main, header, section, footer {
  position:relative;
  text-align:center;
}

// Fonts
h1, h2, h3, h4, h5, h6, .font-headline {
  //letter-spacing:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family:$font-headline;
}
.font-headline {
  font-family:$font-headline!important;
}
.font-regular {
  font-family:$font-regular!important;
  &.text-italic, em {
    font-family:$font-regular-italic!important;
  }
}
.font-light {
  font-family:$font-light!important;
  &.text-italic, em {
    font-family:$font-light-italic!important;
    strong {
      font-family:$font-regular-italic!important;
    }
  }
  strong {
    font-family:$font-regular!important;
  }
}
.font-ultra-light {
  font-family:$font-ultra-light!important;
  &.text-italic, em {
    font-family:$font-ultra-light-italic!important;
    strong {
      font-family:$font-light-italic!important;
    }
  }
  strong {
    font-family:$font-light!important;
  }
}

// Headline, Title, Subtitle
.headline, .title, .subtitle {
}
.headline {//Targets 768px Down & 576px All The Way Up If No Styles Are Added/Overriding In Tablet-And-Desktop Or Down Here
  font-size:2.85rem;
  line-height:1.02;
}
.text-hero {
  font-size:4.3rem;
  line-height:1.5;
}
.text-gigantic {
  font-size:3.7rem;
  line-height:0.88;
}
.text-intro, .text-huge {
  font-size:2.85rem;
  font-weight:500;//New
}
.text-intro {
  line-height:1.19;
}
.text-huge {
  line-height:1.02;
}
.text-big {
  font-size:2rem;
}
.text-medium {
  font-size:1.7rem;//1.2rem
}
.text-small {
  font-size:1.1rem;
}
// .text-stroke-rosybrown {
//   color:transparent!important;
//   -webkit-text-fill-color:theme-color("transparent");//Will Override Color (Regardless Of Order)
//   -webkit-text-stroke-width:1px;
//   -webkit-text-stroke-color:theme-color("rosybrown");
// }
// .text-stroke-chocolate {
//   color:transparent!important;
//   -webkit-text-fill-color:theme-color("transparent");//Will Override Color (Regardless Of Order)
//   -webkit-text-stroke-width:1px;
//   -webkit-text-stroke-color:theme-color("chocolate");
// }
@media only screen and (max-width:576px) {//Down
  .headline {
    font-size:2.5rem;
  }
  .text-hero {
    font-size:3.4rem;
  }
  .text-gigantic {
    font-size:3rem;
  }
  .text-gigantic {
    line-height:1;
  }
  .text-intro, .text-huge {
    font-size:2.5rem;
  }
  .text-big {
    font-size:1.8rem;
  }
  .text-medium {
    font-size:1.6rem;
  }
}
@media only screen and (max-width:400px) {//Down
  .headline {
    font-size:1.6rem;
  }
  .text-hero {//, .text-gigantic
    font-size:2.5rem;
  }
  .text-gigantic {//.text-hero,
    font-size:2.1rem;
  }
  .text-intro {//, .text-huge
    font-size:1.8rem;
  }
  .text-huge {//.text-intro,
    font-size:1.6rem;
  }
  .text-big {
    font-size:1.4rem;
  }
  .text-medium {
    font-size:1.2rem;
  }
}

// Website Colours
.text-rosybrown {
  color:theme-color("rosybrown")!important;//lighten(theme-color("rosybrown"),10)!important;
}

// Link Override Styles
a {
  color:lighten(theme-color("rosybrown"),10);
  background-color:transparent;//As Per B4
  text-decoration:none;//As Per B4
  @include transition(all ease 0.5s);//ease-out
  &:hover, &:active, &:focus {
    color:lighten(theme-color("rosybrown"),20);
    text-decoration:none;
  }
  // &.text-black {
  //   &:hover, &:active, &:focus {
  //     color:lighten(#000,15)!important;
  //   }
  // }
  // &.text-white {
  //   &:hover, &:active, &:focus {
  //     color:darken(#FFF,15)!important;
  //   }
  // }
  // &.text-grey-dark {
  //   &:hover, &:active, &:focus {
  //     color:lighten(theme-color("grey-dark"),15)!important;
  //   }
  // }
  // &.text-grey-mid {
  //   &:hover, &:active, &:focus {
  //     color:lighten($theme-color-grey-mid,15)!important;
  //   }
  // }
  // &.text-grey-light {
  //   &:hover, &:active, &:focus {
  //     color:darken($theme-color-grey-light,15)!important;
  //   }
  // }
  &.text-rosybrown {
    &:hover, &:active, &:focus {
      color:lighten(theme-color("rosybrown"),10)!important;
    }
  }
}

// Link Line Through
a.link-line-through {
  position:relative;
  &::before {
    content:'';
    position:absolute;
    width:0;
    height:2px;//30%
    //top:50%;//40%
    right:0;
    bottom:0;
    //left:0;
    background-color:theme-color("rosybrown");
    border-bottom:1px solid theme-color("chocolate");
    pointer-events:none;
    @include filter(opacity(0.8));
    @include transition(width 0.4s ease-in-out);
  }
  &:hover, &:active, &:focus {//&.active-link
    &::before {
      width:100%;
      right:auto;
      left:0;
    }
  }
}

// Buttons
$btn-normal-padding:0.2rem 1rem;
$btn-lg-padding:0.7rem 2.3rem;
.btn {
  position:relative;
  padding:$btn-normal-padding;
  font-family:$font-light;
  font-size:14px;//13px//11.5px
  background-color:transparent;
  color:theme-color('rosybrown');//transparent
  border:1px solid theme-color('rosybrown');
  @include border-radius(1rem);
  @include filter(opacity(1));
  @include transition(background-color ease-out 0.4s, color ease-out 0.4s, border-color ease-out 0.4s, transform ease-out 0.4s, box-shadow ease-out 0.4s);
  &.btn-chocolate {
    color:theme-color('chocolate');
    border:1px solid theme-color('chocolate');
    &::before {
      border:1px solid theme-color('chocolate');
    }
    &:hover {//, &:active, &:focus
      color:theme-color('chocolate');//transparent
      border-color:theme-color('chocolate');//lighten(theme-color('rosybrown'),10)
      &::before {
        border-color:theme-color('chocolate');//lighten(theme-color('rosybrown'),10)
      }
    }
  }
  &.btn-aqua {
    color:theme-color('aqua');
    border:1px solid theme-color('aqua');
    &::before {
      border:1px solid theme-color('aqua');
    }
    &:hover {//, &:active, &:focus
      color:theme-color('aqua');//transparent
      border-color:theme-color('aqua');//lighten(theme-color('rosybrown'),10)
      &::before {
        border-color:theme-color('aqua');//lighten(theme-color('rosybrown'),10)
      }
    }
  }
  &::before {
    content:"";
    position:absolute;
    padding:$btn-normal-padding;//Same As Button
    top:0;
    right:-2px;
    bottom:-2px;
    left:0;
    color:transparent;//theme-color('rosybrown')
    border:1px solid theme-color('rosybrown');
    text-align:center;
    white-space:nowrap;
    pointer-events:none;
    @include border-radius(1rem);
    @include transform(translate(3px,3px));
    @include transition(border-color ease-out 0.4s, transform ease-out 0.4s);
  }
  // &.btn-view-the-site {
  //   &::before {
  //     content:"View the site";
  //   }
  // }
  // &.btn-read-more {
  //   &::before {
  //     content:"Read more";
  //   }
  // }
  // &.btn-send {
  //   &::before {
  //     content:"Send";
  //   }
  // }
  &:hover {//, &:active, &:focus
    background-color:theme-color('rosybrown')!important;//transparent!important
    color:theme-color('chocolate');//transparent
    border-color:theme-color('rosybrown');//lighten(theme-color('rosybrown'),10)
    //@include filter(opacity(0.8));
    //@include transform(scale(1.03));
    @include transform(translate(1.5px,1.5px));
    @include box-shadow(0 5px 15px rgba(24,16,8,0.1)!important);//0 5px 15px rgba(0,0,0,0.4)
    //@include box-shadow(none!important);
    &::before {
      right:0;
      bottom:0;
      border-color:theme-color('rosybrown');//lighten(theme-color('rosybrown'),10)
      @include transform(translate(0,0));
    }
  }
  &:hover, &:active, &:focus {
    outline:none;
    @include box-shadow(none);
  }
  &.btn-longer {
    padding-right:2em;
    padding-left:2em;
  }
  &.btn-lg {
    padding:$btn-lg-padding;
    &.btn-longer {
      padding-right:3em;
      padding-left:3em;
    }
  }
  &.btn-60 {
    width:100%;//Mobile
    text-align:center;
  }
  &.btn-100 {
    width:100%;
    text-align:center;
  }
}
@media only screen and (max-width:400px) {//Down
  $btn-normal-padding:0.4rem 0.6rem 0.2rem;
  $btn-lg-padding:0.6rem 1.5rem;
  .btn {
    padding:$btn-normal-padding;
    font-size:13px;
    &::before {
      padding:$btn-normal-padding;//Same As Button
    }
    &.btn-lg {
      padding:$btn-lg-padding;
      &.btn-longer {
        padding-right:2rem;
        padding-left:2rem;
      }
    }
  }
  .custom-checkbox-squared {//Buttons With Double Line Using ::before, As Per Rest Of Site
    > .custom-control {
      &.custom-checkbox, &.custom-radio {
        label.custom-control-label {
          padding:$btn-normal-padding;
          font-size:12px;//13px
        }
      }
    }
  }
}

// Selection Styles
::selection {//webkit, opera, IE9
  background-color:rgba(105,169,179,0.7);
}
::-moz-selection {//mozilla firefox
  background-color:rgba(105,169,179,0.7);
}

//----------------------------------Layout Styles----------------------------------//

// (To Revise/Check A 'Layout' Component To Wrap Everything | Or ¿To Use React-Bootstrap? ¿To Use Reactstrap? ¿To Use Material-UI? Let's See)
// Container
.container {//Might Be Temporary
  width:100%;//Temporary, As Per B4
  //max-width:...;
  margin-right:auto;//Temporary, As Per B4
  margin-left:auto;//Temporary, As Per B4
  //padding:0 2rem;//Was Starting With NextJS
  padding-right:15px;//Temporary, As Per B4
  padding-left:15px;//Temporary, As Per B4
}
//// Other Media Queries Here

// Grid
.grid {//To Consider//Was Starting With NextJS
  display:flex;//Was Starting With NextJS
  align-items:center;//Was Starting With NextJS
  justify-content:center;//Was Starting With NextJS
  flex-wrap:wrap;//Was Starting With NextJS
  max-width:800px;//Was Starting With NextJS
}
@media (max-width:600px) {//Down//Was Starting With NextJS
  .grid {//To Consider//Was Starting With NextJS
    width:100%;//Was Starting With NextJS
    flex-direction:column;//Was Starting With NextJS
  }
}

//----------------------------------Form Styles----------------------------------//

// Input Placeholders
::-webkit-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-moz-placeholder {//Firefox 18-
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
::-moz-placeholder {//Firefox 19+
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-ms-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}

// Forms
form {
  select {
    // -webkit-appearance:none;
    // -moz-appearance:none;
    // appearance:none;
    > option {
    }
  }
}

//----------------------------------Project Card Styles----------------------------------//

// Project Card




article.project-card {//.article
  margin:4rem 2rem;
  //padding:2rem;
  //border:1px dotted #000;//#eaeaea
  //text-align:left;//Was Starting With NextJS
  @include border-radius(0.5rem);
  img {
    @include transition(filter 0.3s ease);//Was Starting With NextJS
    &:hover, &:active, &:focus {
      @include filter(opacity(0.7));
    }
  }
  &:hover, &:active, &:focus {
    //color:purple;//#0070f3//Was Starting With NextJS
    //border-color:purple;//#0070f3//Was Starting With NextJS
    //@include filter(opacity(0.5));
  }
}
@media only screen and (max-width:768px) {//Down
  article.project-card {//.article
    margin:3rem 1rem;
    //padding:1rem;
  }
}




//----------------------------------Section Styles----------------------------------//

// Nav
nav {
}

// Header
header {
  //flex:1;
  min-height:100vh;
  padding:4rem 0;//Temporary
  background-color:theme-color("chocolate");////Temporary
  color:theme-color("rosybrown");////Temporary
  .headline {//.title//Temporary
    margin:0;
  }
}

// Main
main {
  //display:flex;//Was Starting With NextJS
  //flex:1;//Was Starting With NextJS
  //flex-direction:column;//Was Starting With NextJS
  //justify-content:center;//Was Starting With NextJS
  //align-items:center;//Was Starting With NextJS
  min-height:100vh;//Temporary
}

// Section
section {
  //min-height:100vh;//Temporary
}

// Home Projects Headline Section
section.home-projects-headline-section {
  border-top:1px dashed purple;//Temporary
}

// Home Projects Cards Section
section.home-projects-cards-section {
  border-bottom:1px dashed purple;//Temporary
}

// Home Skills Headline Section, Home Skills Set Section
section.home-skills-headline-section, section.home-skills-set-section {
  background-color:theme-color("chocolate");////Temporary
}






// Home Projects Headline Section, Home Skills Headline Section
section.home-projects-headline-section, section.home-skills-headline-section {
  padding:50px 20px 30px;
}

// Home Projects Cards Section, Home Skills Set Section
section.home-projects-cards-section, section.home-skills-set-section {
  padding:25px 20px 35px;//25px 20px 90px
}

// Home Skills Set Section
section.home-skills-set-section {
  padding-bottom:60px;
}

// Home Skills Set Section
section.home-skills-set-section {
  .skills-set-table {
    // width:calc(100% + 30px);
    // margin-left:-15px;
    .skill-row {
      padding:55px 0 30px;
      border-bottom:1px solid theme-color('rosybrown');
      &:first-child {
        border-top:1px solid theme-color('rosybrown');
      }
      .skill-content {
        //text-align:left;
        p {
          margin-bottom:15px;//1px
          font-size:15px;
          line-height:1.9;
        }
      }
    }
  }
  a {
    position:relative;
    display:inline-block;
    &::before {
      content:'';
      position:absolute;
      width:98%;//100%
      height:3px;
      bottom:5.5px;
      left:0;
      background-color:theme-color('rosybrown');
      border-top:1px solid theme-color('beige');
      border-bottom:1px solid theme-color('beige');
      pointer-events:none;
    }
    &:hover {
      @include filter(opacity(0.9));
      &::before {
        @include animation(lineThroughtBack98Anim 0.9s linear forwards);
      }
    }
  }
}

// Theme Dark
body.page-type-basic.theme-dark, body.page-type-project.theme-dark, body.page-type-feedback.theme-dark, body.page-type-basic.is-bottom, body.page-type-project.is-bottom, body.page-type-feedback.contact_me, body.page-type-basic.theme-dark-mobile-wide, body.page-type-project.theme-dark-mobile-wide, body.page-type-feedback.theme-dark-mobile-wide {//.hire_a_project
  // MISSING A BUNCH OF STYLES FROM ORIGINAL PORTFOLIO STILL
  section.home-skills-set-section, header.projects-header {
    a {
      &::before {
        border-top:1px solid theme-color('chocolate');
        border-bottom:1px solid theme-color('chocolate');
      }
    }
  }
  // MISSING A BUNCH OF STYLES FROM ORIGINAL PORTFOLIO STILL
}






// Project Header
header.project-header {
  padding:105px 20px 25px;
  background-color:theme-color("chocolate");////Temporary
  span.page-order {
    position:absolute;
    top:-70px;
    right:0;
    left:0;
    font-size:22px;
    small {
      font-size:13px;
    }
  }
  .page-title {
    white-space:normal;
  }
  .page-client, .page-roles, .page-year {
    font-size:13px;
    span.page-subtitles {//New ".page-subtitles" Class
      display:block;
      font-size:11px;
    }
  }
  .page-content {
    font-size:20px;
  }
}

// Project Page
section.project-page {
  padding:25px 20px 50px;
  background-color:theme-color("chocolate");////Temporary
  .page-content-mid, .page-content-last {
    font-size:18px;//20px
  }
  .page-content-mid {
    blockquote {
      padding-right:10px;
      padding-bottom:15px;
      padding-left:10px;
      font-size:15px;//18px
    }
  }
  .page-content-last {
    margin-top:3px;
    //font-size:13px;
  }
}

// Footer
footer {
  //display:flex;//Was Starting With NextJS
  //flex:1;//Was Starting With NextJS
  //justify-content:center;//Was Starting With NextJS
  //align-items:center;//Was Starting With NextJS
  margin:0;////Was To Reset In B4
  background-color:theme-color("chocolate");////Temporary (To see styles better, line-through, dark-mode)
  > .container {//Desktop & Mobile
    //flex-grow:1;//Was Starting With NextJS
    min-height:100vh;
    > div {
      pointer-events:none;//From "row", To All Elements Inside <a>
      h1, h2, h3, h4, h5, h6 {
        margin-top:0;//New//Temporary
        margin-bottom:0;//New//Temporary
      }
      p {
        margin-top:0;//New//Temporary
        font-size:23px;
        line-height:1.2;
      }
    }
  }
  > aside.footer-aside-info-elements {
    @include filter(opacity(0.9));
    .footer-email-or-call, .footer-availability, .footer-office, .footer-credits, nav.footer-nav, .footer-social-media-business, .footer-social-media-personal, .footer-copyright, .footer-created-by {
      position:absolute;
      font-size:12px;
    }
    .footer-email-or-call, .footer-copyright, .footer-created-by {
      bottom:30.5px;//To be 30px
    }
    .footer-email-or-call {
      left:50%;
      text-align:center;
      @include transform(translateX(-50%));
    }
    .footer-availability, .footer-office, .footer-social-media-business, .footer-copyright {
      left:37px;
      text-align:left;
    }
    .footer-availability, .footer-credits {
      bottom:310px;
      line-height:1.5;////To remove maybe
    }
    .footer-office {
      bottom:180px;
    }
    .footer-credits, nav.footer-nav, .footer-social-media-personal, .footer-created-by {
      right:37px;
      text-align:right;
    }
    nav.footer-nav {//nav.navbar
      padding:0;
      top:auto;
      bottom:188px;
      line-height:1.5!important;
      ul.footer-nav-ul {//ul.navbar-nav
        list-style:none;//Temporary As Per B4//Needed While Not-Having "navbar-nav"
        li.footer-nav-li {//li.nav-item
          a.footer-nav-link {//a.nav-link
            display:inline-block;
            margin:0.1rem auto;
            padding:0 0.1rem;
            font-family:$font-ultra-light;
            font-size:12px;
            color:theme-color("rosybrown");
            //text-transform:uppercase;
            // &::before {
            //   display:none;
            // }
            &:hover, &:active, &:focus, &.active-link {
              color:lighten(theme-color("rosybrown"),10);
              @include transform(scale(1));
            }
            &.active-link {
              filter:opacity(1);//0.7
            }
            &.link-line-through {
              &::before {
                bottom:2px;
              }
            }
          }
        }
      }
    }
    .footer-social-media-business {
      a {
        padding-right:3.7px;//New
        > span {
          &::before {
            top:-3.1px;//Was -2.8px
          }
        }
      }
    }
    .footer-social-media-personal {
      a {
        padding-left:3.7px;//New
        > span {
          &::before {
            top:-2.9px;//Was -2.8px
          }
        }
      }
    }
    .footer-social-media-business, .footer-social-media-personal {
      padding:0 7px 5px;
      bottom:95px;
      overflow:hidden;
      a {
        // &::before {
        //   display:none;
        // }
        > span {
          position:relative;
          font-size:15.5px;
          //pointer-events:none;
          &::before {
            content:'';
            position:absolute;
            width:27px;
            height:27px;
            //top:-3.1px;//Was -2.8px
            left:-5px;
            background-color:theme-color("rosybrown");
            z-index:20;
            @include border-radius(50%);
            @include filter(opacity(0));
            @include transform(translateY(30px));
            //@include transform-origin(center bottom);
            @include transition(filter ease-out 0.4s, transform ease-out 0.4s);
          }
          > svg {
            position:relative;
            width:17px;
            //font-size:1.2rem;//To remove
            fill:theme-color("rosybrown");
            z-index:21;
            @include transition(fill ease-out 0.5s);//all
          }
          &.icon-linkedin {
            > svg {
              width:14px;
              top:-0.5px;//Was "margin-top:-1px"
              margin-left:2px;//Affects the others too
            }
          }
          &.icon-behance {
            > svg {
              width:18px;
            }
          }
          &.icon-angel {
            > svg {
              width:14px;
              margin-left:1px;//Affects githubs too
            }
          }
          &.icon-github {
            > svg {
            }
          }
          &.icon-dribbble, &.icon-pinterest, &.icon-instagram {
            > svg {
            }
          }
          &.icon-facebook {
            > svg {
              width:15px;
            }
          }
        }
        &:hover, &:active, &:focus {
          span {
            &::before {
              @include filter(opacity(1));
              @include transform(translateY(0));
            }
            svg {
              fill:theme-color("chocolate");
            }
          }
        }
      }
    }
    .footer-social-media-business {
      left:30px;//37px
    }
    .footer-social-media-personal {
      right:30px;//37px
    }
  }
}
@media only screen and (max-width:400px) {//Down
  footer {
    > aside.footer-aside-info-elements {
      .footer-email-or-call, .footer-availability, .footer-office, .footer-credits, nav.footer-nav, .footer-social-media-business, .footer-social-media-personal, .footer-copyright, .footer-created-by {
        font-size:11px;
      }
    }
  }
}